.quiz-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quiz-menu-container {
    display: flex;
    flex-direction: row;
}